@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

#root {
  max-width: 100dvh;
  margin: 0 auto;
  text-align: center;
  font-family: "Mulish", sans-serif;
}

.portfolio-header {
  height: 7dvh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 4rem;
  padding-right: 4rem;
}

.nav-item a {
  text-decoration: none;
  color: darkgrey;
}

.nav-item a:hover {
  text-decoration: underline;
  color:cadetblue;
}

.portfolio-section {
  height:100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: auto 0;
  height: 50dvh;
  align-items: center;
  padding: 0 2rem;
}

.intro {
  text-align: left;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.self-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contacts-list {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.contacts {
  width: 20%;
  height:3rem;
  transition: transform 0.5s ease;
}

.contacts:hover {
  transform: scale(1.15);
}

button {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  background-color: antiquewhite;
  color: black;
}

button:hover {
  background-color: rgb(187, 165, 165);
}

.profile-img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
  align-content: center;
  transition: transform 0.2s ease;
}

.profile-img:hover {
  transform: scale(1.1);
} 

.about-me {
  text-align: right;
  font-size: 2rem;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
}

.tech-item {
  align-self: center;
  
  width: 30%;
  height: 30%;
  font-size: 2rem;
}

svg {
  width: 50%;
  height: auto;
}

.projects-container {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
} 

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: auto;
  width: 50%;
  gap: 3rem;
  height: 100%;
  padding: 1rem 1rem 3rem;
  border-radius: 1rem;
  background-color: hsl(300, 24%, 80%, 0.75);
  color: black;
  opacity: 0.5;
  transition: transform 1s ease;
}

.project-card:hover {
  opacity: 1;
  transform: scale(1.1);
}

.project-img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 1rem;
  object-fit: cover;
}

.project-card h3 {
  font-size: 2rem;
  font-weight: 800;
}

.project-card p {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: lightgray;
  padding: 0.5rem;
  border-radius: 0.5rem;
}