#root {
  max-width: 100dvh;
  margin: 0 auto;
  text-align: center;
}

.portfolio-section {
  height:100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: auto 0;
  height: 50dvh;
  align-items: center;
  padding: 0 2rem;
}

.intro {
  text-align: left;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.self-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contacts-list {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.contacts {
  width: 20%;
  height:3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.profile-img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
  align-content: center;
}

.about-me {
  text-align: right;
  font-size: 2rem;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}